<!DOCTYPE html>
<head>
  <title>WELCOME TO AUTOSTENO</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
</head>
<body>
  <div class="w3-container w3-teal">
    <h1>Live Voice Transcription</h1>
  </div>
  <div class="w3-container" style="background-color: #e7e9eb">
    <p>Recording Successful</p>
    <form action="/">
      <input
        type="submit"
        value="Record Again"
        style="color: white; background-color: #4caf50; border-radius: 8px"
      />
    </form>
  </div>
</body>
